/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
 */


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clear {
    clear: both;
}


.subheader {
    margin: 0 auto 20px 0;
    font-size: 14px;
}

.caption {
    color: gray;
    margin: auto 0 50px 0;
}

.rounded {
    border-radius: 50%;
}

/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

body {
    background: url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
    color: #000000;
    font-family: 'Lato', sans-serif;
    line-height: 1.7; /* line-height is unit-less */
    font-size: 100%;
}  

a {
    color: #e53200;
    text-decoration: none;
}

h1 {
    margin: 0 auto 0;
    line-height: 1;
    font-size: 3.0em;
}

h2 {
    margin: 0 auto;
    font-size: 2.0em;
}

blockquote {
    font-style: italic;
    margin: 5px;
    border-left: 4px solid #5d6da947;
    padding: 10px;
}

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/

#header {
    margin: 0 auto 0;
}

#container {
    width: 1200px;
    margin: 0 auto 0 auto;
}

#main {
    background: white;
    width: 700px;
    float: left;
    margin: 0 10px auto auto;
    padding: 30px;
}

#sidebar {
    background: white;
    width: 300px;
    float: left;
    padding: 30px;
}
