/*
 * General/Utility Styles
 */

* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

body {
    margin: 0;
    background: rgb(245, 245, 245);
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 0.875rem;
    color: #565A5C;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    font-weight: bold;
    color: rgb(255, 89, 95);
    text-decoration: none;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 1.57rem;
    color: #666A6C;
    margin-bottom: 5px;
}

/*
 * Header styles
 */

header {
    background: white;
    height: 60px;
}

header .img {
    width: 120px
}

header .logo {
    border-right: 1px solid #DCE0E0;
}

.hero img {
    width: 100%;
}

/*
 * Button styles
 */

.button {
    background: rgb(255, 89, 95);
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.75rem 5rem;
    border-bottom: 1px solid rgb(227, 25, 29);
    border-radius: 2px;
    width: 95%;
    margin: 0 auto;
}

/*
 * Figure styles
 */

figure.icon {
    display: inline-block;
    width: 25%;
    margin-bottom: 20px;
}

/*
 * Section styles
 */

.info {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #909597;
    padding: 20px;
}

.info .owner-details {
    margin: 0 auto 10px;
}
.info .owner-details img {
    border-radius: 50%;
    width: 90px;
}

.info h2.name {
    font-weight: bold;
}

.info .owner-details img {
    border-radius: 50%;
    width: 90px;
}

.info .pet-details p {
    margin-bottom: 20px;
}

.info .booking {
    padding: 0 10px;
    color: #565A5C;
}

.info .booking h2 {
    margin-bottom: 10px;
}

.info .price {
    font-size: 1.5rem;
    font-weight: 600;
}

.info .time {
    font-size: 1.25rem;
    font-weight: initial;
}

@media only screen and (min-width: 1060px) {
}
